@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Poppins:wght@300&family=Roboto&family=Roboto+Mono&family=Splash&family=Ubuntu:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Roboto Mono";
  letter-spacing: -1px;
  scroll-behavior: smooth;
}

a {
  font-style: none;
  text-decoration: none;
  color: #5b8fb9;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  background: radial-gradient(circle at top, #1c2f4b, #03001c);
  color: #5b8fb9;
}

body h1 {
  font-size: 5rem;
  font-family: "splash";
}

body h2 {
  margin-top: -2rem;
  margin-bottom: 5rem;
  font-family: "Roboto Mono";
}

.projects {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.card {
  width: 20rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background: #1c2f4b;
  border-radius: 0.3rem;
  padding: 0.5rem;
  max-height: 18rem;
  /* overflow: hidden;
  text-overflow: ellipsis; */
}

.card img {
  height: 20rem;
  width: 20rem;
  border-radius: 0.3rem;
  object-fit: cover;
}

.tags {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  flex-wrap: wrap;
}

.tag {
  padding: 0.3rem;
  border: 1px solid #5b8fb9;
  border-radius: 0.2rem;
}

.card p{
  overflow: hidden;
  text-overflow: ellipsis;
}
.card:hover {
  opacity: 0.8;
}

::-webkit-scrollbar{
  width: 10px;
  opacity: 0.7;
}
::-webkit-scrollbar-track{
  background: #1c2f4b;
}
::-webkit-scrollbar-thumb{
  background:#5b8fb9;
  border-radius: 0.1rem;
}
::-moz-scrollbar{
  width: 10px;
  opacity: 0.7;
}
::-moz-scrollbar-track{
  background: #1c2f4b;
}
::-moz-scrollbar-thumb{
  background:#5b8fb9;
  border-radius: 0.1rem;
}

@media (max-width: 800px) {
  body h1 {
    font-size: 2.5rem;
  }

  body h2 {
    margin-top: -1rem;
    font-size: 1rem;
  }
}