@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Poppins:wght@300&family=Roboto&family=Roboto+Mono&family=Splash&family=Ubuntu:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Roboto Mono";
  letter-spacing: -1px;
  scroll-behavior: smooth;
}

a {
  font-style: none;
  text-decoration: none;
  color: #5b8fb9;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  background: radial-gradient(circle at top, #1c2f4b, #03001c);
  color: #5b8fb9;
}

body h1 {
  font-size: 5rem;
  font-family: "splash";
}

body h2 {
  margin-top: -2rem;
  margin-bottom: 5rem;
  font-family: "Roboto Mono";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Roboto Mono";
  letter-spacing: -1px;
  scroll-behavior: smooth;
}

a {
  font-style: none;
  text-decoration: none;
  color: #5b8fb9;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  background: radial-gradient(circle at top, #1c2f4b, #03001c);
  color: #5b8fb9;
}

body h1 {
  font-size: 5rem;
  font-family: "splash";
}

body h2 {
  margin-top: -2rem;
  margin-bottom: 5rem;
  font-family: "Roboto Mono";
}