body {
    background-color: #181818;
    color: rgba(235, 235, 235, 0.64);
    min-width: 480px;
}



.step {
    width: 6.25%;
    height: 100%;
    margin: 0px;
    display: inline-block;


}


#indicator .step {
    height: 20px;
}

#indicator .labels {
    height: 20px;
    padding: 0;
}



.step:nth-child(8n+1),
.step:nth-child(8n+2),
.step:nth-child(8n+3),
.step:nth-child(8n+4) {
    background-color: rgb(30 41 59);


}

.active {
    background-color: rgb(34 197 94) !important;
}

.activeIndicator {
    background-color: rgb(13 148 136) !important;
}

.labels {
    width: 70px;
    text-align: center;
    padding: 10px;
}