body {
    background-color: #011F3F;
    font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
  }
  h1{
    text-align: center;
  }
  h3{
    margin-top: 9%;
    color: red;
  }
  p{
    color: white;
    font-size: 2svb;
    font-family: 'Courier New', Courier, monospace;
  }
  .got{
    color: white;
    font-size: 2svb;
    font-family: 'Courier New', Courier, monospace;
  }
  footer{
    text-align: center;
    color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 4%;
  }
  button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }