* {
  margin: 0;
  padding: 0;
}

.top-bar {
  background: #333;
  color: aliceblue;
  padding: 1rem;
}

.btn {
  background:aquamarine;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
}

.btn:hover {
  opacity: 0.9;
}
.page-info {
  margin-left: 1rem;
}

.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}
